/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


.login {
  margin: auto;
  width: 400px; 
  padding-top: 15%;  
  font-size: 16px;
  
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(15, 66, 107);
}

.login-header {
  background: #f39c12;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: left;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 5px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.loginSubmit input[type="submit"] {
  background: #f39c12;
  border-color: transparent;
  color: #fff;
  cursor: pointer;

}

.loginSubmit input[type="submit"]:hover {
  background: #f39c12;
}

.loginSubmitinput[type="submit"]:focus {
  border-color: #05a;
}

.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}


.bg-img {
  background-image: url('/assets/img/baltit-bk.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
 /** -webkit-filter: grayscale(1%); /* Safari 6.0 - 9.0 */
 /**   filter: grayscale(1%) sepia(1%) hue-rotate(90deg);**/
}

.non-blur{
  filter:none;
}